apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: bookstore
  labels:
    app: cart
    service: cart
spec:
  type: ClusterIP
  ports:
  - name: grpc
    port: 50052
    targetPort: grpc
    protocol: TCP
  - name: http
    port: 8081
    targetPort: http
    protocol: TCP
  selector:
    app: cart
  sessionAffinity: None




