apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: bookstore
  labels:
    app: gateway
    component: backend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: gateway


