apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: bookstore
  labels:
    app: order
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 50053
    targetPort: 50053
    protocol: TCP
    name: grpc
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: health
  selector:
    app: order


