apiVersion: v1
kind: Service
metadata:
  name: mongo-express
  namespace: bookstore
  labels:
    app: mongo-express
    component: admin-ui
spec:
  type: NodePort
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: mongo-express

