apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  namespace: bookstore
  labels:
    app: inventory
    component: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
        component: backend
    spec:
      containers:
      - name: inventory
        image: henao13/bookstore-inventory:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 50055
          name: grpc
          protocol: TCP
        - containerPort: 8083
          name: health
          protocol: TCP
        envFrom:
        - configMapRef:
            name: inventory-config
        - secretRef:
            name: inventory-secret
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8083
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8083
          initialDelaySeconds: 15
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
      restartPolicy: Always


